.user-info { position: absolute; top: 20px; left: 30px; color: #777; }
.user-info .name { font-size: 13px; }
.user-info .name::after { content: '|'; padding: 0 10px; }
.user-info .logout { font-size: 13px; position: relative; top: 3px; cursor: pointer; transition: all .3s ease; }
.user-info .logout:hover { color: #111; }

.student-dashboard .logo { text-align: center; margin-top: 60px; }
.student-dashboard .logo img { width: 100px; }

.student-dashboard .tabs { text-align: center; }
.student-dashboard .tabs ul { list-style: none; padding: 0; text-align: center; margin-top: 50px; position: relative; background: #F1F1F1; display: inline-block; border-radius: 50px; }
.student-dashboard .tabs ul li { display: inline-block; padding: 5px 0; min-width: 150px; font-size: 13px; border-radius: 50px; cursor: pointer; position: relative; z-index: 1; transition: all .3s ease; }
.student-dashboard .tabs ul li:first-of-type { margin-left: -30px; }
.student-dashboard .tabs ul li.active { color: #FFF; }
.student-dashboard .tabs ul span { position: absolute; width: 150px; height: 100%; background: #A90CAA; border-radius: 50px; right: 0; transition: all .3s ease; }

.admin-dashboard .tabs ul li:first-of-type { margin-left: 0; }